
 <link href="css/table.css" media="all" rel="stylesheet" type="text/css"/>
<select ng-model="items">
<option value="" >All</option>
  <option value="2" >2</option>
  <option value="4">4</option>
  <option value="30">30</option>
</select>
 
 <!-- Phone No:{{selectedItem}}
 

<select  ng-model="selectedItem" ng-change="val()">

<option value="">Select Dealer name</option>
<option ng-repeat="loan in ape" ng-selected="selectedItem == loan.dealer_mobile"  value="{{loan.dealer_mobile}}">{{loan.dealer_name}}</option>
</select>
<br>
<input type="text" ng-model="searchTxt" placeholder="search"> -->
<br>
<br>
<input type="text" ng-model="searchTxt" placeholder="search" uib-typeahead="loan.dealer_name for loan in ape | filter:$viewValue | limitTo:6" class="form-control">
<!-- <pre ng-bind-template="Model: {{searchTxt | json}}"></pre> -->
<br><br>
 <!--  <typeahead data-ng-model="selecteds" items="ape" displaytag="name" displayitem="name">
        </typeahead>  -->
    
<div id="exportable">
<table ng-table ="usersTable" class="table table-striped">

<thead>
<tr>

<th>Dealer name</th>
<th>Kuwy Id(Mobile)</th>
<th>Email</th>
<th>Shop name</th>
<th>Type</th>
<th>Pan</th>
<th>Area</th>
<th>City</th>
<th>State</th>
<th>Pin code</th>
<th>GEO Address</th>
<th>Loan Limit</th>

</tr>
</thead>
<tbody >
<tr dir-paginate="loan in ape | filter:searchTxt | itemsPerPage: items" >

<td>{{loan.dealer_name}}</td>
<td>{{loan.dealer_mobile}}</td>
<td>{{loan.dealer_email}}</td>
<td>{{loan.dealer_shopname}}</td>
<td><div ng-if="loan.dealer_type == '1'">
    Multibrand
</div>
<div ng-if="loan.dealer_type == '2'">
   Proprietary
</div>
<div ng-if="loan.dealer_type == '3'">
   Broker
</div>
<div ng-if="loan.dealer_type == '4'">
    Independent
</div></td>
<td>{{loan.dealer_pan}}</td>
<td>{{loan.dealer_area}}</td>
<td>{{loan.dealer_city}}</td>
<td>{{loan.dealer_state}}</td>
<td>{{loan.dealer_pincode}}</td>
<td>{{loan.dealer_geo_address}}</td>
<td>{{loan.loanlimit}}</td>

</tr>
</tbody>
</table>
<dir-pagination-controls max-size="8" direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
</div>