<b>Name:{{loan.dealer_name}}</b><br>
<b>Email Id:{{loan.dealer_email}}</b>

   
    <div class="form-group">
       <input type="hidden"  ng-model="loan.sno" value="{{loan.sno}}" disabled> <input type="hidden"  ng-model="loan.dealer_email" value="{{loan.dealer_email}}" disabled>
    <textarea rows="5" cols="20" ng-model="loan.remark" title="Enter Blog Content" class="form-control" placeholder="REMARK" ></textarea>
<input type="submit" class="btn btn-default" value="submit" ng-click="reject()"></div>